{% extends "base.html.twig" %}

{% block body %}
    <h1 style="text-align: center">{{ month.MonthName }}</h1>
    <style>
        table {

            {% if selectWeekends %}
            border-collapse: inherit;
            {% else %}
            border-collapse: collapse;
            border: 1px solid gray;
            {% endif %}

            background: white;
            color: black;
        }

        th,
        td {

        {% if selectWeekends %}
        {% else %}
            border: 1px solid gray;
        {% endif %}
            margin: 5px;
            font-weight: bold;
            text-align: center;
        }

        .td-red{
            color: white;
            background: red;
            border-radius: 5rem;
        }
    </style>
    <table bgcolor="lightgrey" align="center"
           cellspacing="21" cellpadding="21">
        <caption align="top">

        </caption>

        <thead>
        <tr>
            <!-- Here we have applied inline style
                 to make it more attractive-->
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        </thead>

        <tbody>

        {% for week in month.Weeks %}
            <tr>
                {% for day in week.Days %}
                    {% if day != null and selectWeekends and day.IsWeekend %}
                        <td class="td-red"> {{ day.DayNumber|default('') }}</td>
                    {% else %}
                        <td> {{ day.DayNumber|default('') }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}