{% extends "base.html.twig" %}

{% block body %}
    <h1 style="text-align: center">Hello, this is a calendar</h1>
    <div style="display: flex; justify-content: center;">

        <a href="/calendar">Current month</a>
    </div>
{% endblock %}